nav {
  background-color: #054A91;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;

  button {
    background-color: #DBE4EE;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: transparent;
  }
}
